<?xml version="1.0"?>
<configuration>
	<appSettings>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<authentication mode="None"/>

		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="X-AspNet-Version,X-Powered-By,Date,Server,Accept,Accept-Encoding,Accept-Language,Cache-Control,Connection,Content-Length,Content-Type,Host,Origin,Pragma,Referer,User-Agent" />
				<add name="Access-Control-Allow-Methods" value="GET, PUT, POST, DELETE, OPTIONS" />
				<add name="Access-Control-Max-Age" value="1000" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>
